<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Chat App</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/messenger.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="">
      <h1><a href="/">Home</a></h1>
      <ul>
        <% if(user){ %>
        <li>
          Welcome
          <p id="fullname-header"><%= user.name %></p>
        </li>
        <li><a class="btn" href="/logout">Log out</a></li>
        <% } else{ %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
