<%- include('partials/header'); -%>
<link rel="stylesheet" href="sotai.css">
<div class="container">
    <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4 id="online_counter">Online</h4>
                </div>
              </div>
              <div class="inbox_chat">
              </div>
              <div class="Notifications_header">
                <div class="recent_heading">
                  <h4>Notifications</h4>
                </div>
              </div>
              <div class="notifications_chat">
                <ul class="noti_list">
                  
                </ul>
              </div>
          </div>
            <div class="mesgs">
              <div class="msg_history">
                
                <div class="parent">

                  
                  
                  
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input id="mess_content" type="text" class="write_msg" placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div> 
        </div>
    </div>
    <div class="hidden" style="display: none;"><%=PORT  %></div>
<%- include('partials/footer'); -%>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script>
  const fullname = document.getElementById("fullname-header").textContent;
  var port = document.querySelector(".hidden").textContent;
  var socket = io.connect(`http://localhost:${port}/`);
  socket.on("connect", ()=>{
    socket.emit("adduser",fullname);
  })
  // add user to list user
  // ==============================================================
  socket.on("update_list_user", data=>{
    console.log(data);
    document.querySelector("#online_counter").textContent = "Online ("+data.length+")";
    document.querySelector(".inbox_chat").innerHTML='';
    data.forEach(element => {
      document.querySelector(".inbox_chat").innerHTML +=  
      '<div class="chat_list active_chat"><div class="chat_people"><div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="chat_ib"><div class="chat_name"><b>'+element+'</b></div></div></div></div>'

    });
  })
  //==============================================================

  // listen notifications event
  socket.on("update_noti", data=>{
    const temp = document.querySelector(".noti_list").innerHTML;
    document.querySelector(".noti_list").innerHTML =  
    "<li><b style='bold'>" + data.sender + ": </b>"+data.message  + " ( " +data.time +" ) "+ "</li>" + temp;
  })
  // update yourself mess
  socket.on("update_log_chat_from_yourself", data=>{
    const temp = document.querySelector(".parent").innerHTML;
    document.querySelector(".parent").innerHTML += 
    `<div class="outgoing_msg">
                    <div class="sent_msg">
                      <p>${data.content}</p>
                      <span class="time_date">${data.time}</span> 
                    </div>
                  </div>`
    var element = document.querySelector(".msg_history");
    element.scrollTop = element.scrollHeight;
  })
  //up date mess 
  socket.on("update_log_chat_from_people", data=>{
    const temp = document.querySelector(".parent").innerHTML;
    document.querySelector(".parent").innerHTML += 
    `<div class="message_from_users">
                    <div class="mfu_avatar">
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    </div>
                    <div class="mfu_content">
                      <div class="mfu_sender">${data.sender}</div>
                      <div class="mfu_content_midle"><span>${data.content}
                      </span></div>
                      <div class="mfu_send_time">${data.time}</div>
                    </div>
                  </div>`
    var element = document.querySelector(".msg_history");
    element.scrollTop = element.scrollHeight;
  })
  // event click
  function sendMess(){
    const inputVal = document.getElementById("mess_content");
    if(inputVal.value.trim().length!=0){
      socket.emit("client_send_mess_to_server",inputVal.value);
      inputVal.value="";
    }
  }
  const a =document.getElementById("mess_content")
  document.querySelector(".msg_send_btn").addEventListener("click" ,(e)=>{
    e.preventDefault();
    sendMess();
  })
  document.getElementById("mess_content").addEventListener("keyup",(e)=>{
    if (event.keyCode === 13){
      e.preventDefault();
      sendMess();

    }
  })
</script>