<%- include('partials/header'); -%>
<!-- -///// -->


<div class="cr-container">
  <ul class="cr-conversation" id="list-mess">
  </ul>
  <form action="">
      <input type="text" name="message" id="message">
      <button class="btn btn-send">send</button>
  </form>
</div>


<%- include('partials/footer'); -%>

<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script>
  const fullname = document.getElementById("fullname-header").textContent;
  var socket = io.connect("http://localhost:3000/");
  socket.on("connect", ()=>{
    socket.emit("adduser",fullname);
  })

  // listen update_mess event
  socket.on("update_mess", data=>{
    document.getElementById("list-mess").innerHTML +=  
    "<li><b>" + data.sender + ": </b>"+data.message+"</li>";
    
  })
</script>