<%- include('partials/header'); -%>
<!-- -///// -->
<header>
  <div class="smoothie origin">
    <img src="/messenger.png" alt="">
  </div>
  <div class="headings">
    <h2>NeyT's Chat Room</h2>
    <h3>Chat from Heart ... </h3>
    <a href="/chatroom" class="btn">Join</a>
    <div  style="display: inline; margin-left: 10px;margin-right: 10px;">or</div>
    <a id="chatwithsimcss" href="/chatwithsim">Chat with Sim</a>
  </div>
</header>


<%- include('partials/footer'); -%>