<%- include('partials/header'); -%>

<form method="post" action="/signup">
    <h2>Sign up</h2>
    <label for="fullname">Fullname</label>
    <input type="text" name="fullname" required>
    <div class="fullname error"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <label for="re-password">re-Password</label>
    <input type="re-password" name="re-password" required>
    <div class="re-password error">error</div>
    <button>Sign up</button>
</form>


<%- include('partials/footer'); -%>